body {
  background-color: #222 !important;
  color: #ddd !important;
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2 {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.nav-ul {
  list-style-type: none;
  padding-right: 50px;
}

.nav-ul:after {
  content: '';
  position: absolute;
  right: 45px;
  top: -30px;
  width: 10px;
  height: 150%;
  border-right: 1px solid #555;
  z-index: -10;
}

.nav-li {
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-li-circle:after {
  content: '\f170';
  position: absolute;
  right: 40px;
  font-family: 'ionicons';
  background-color: #222;
}

.skills-li {
  font-size: small;
}