<img src="images/profile.jpg" style="width: 100%; border: 1px solid #333" />

<h2>Hi, I'm Nick</h2>

<p>I'm an UX designer/prototyper/program manager. I specialize in breaking down complex UX problems, with an emphasis on thinking through user experience problems across hardware and software, from beginning to end.</p>

<p>I love diving deep into HCI problems, with experience in touch and stylus interactions, natural user gestures, designing for human factors and cross-device IoT experiences. I have a <em>particular</em> passion for automotive UX.</p>

<a href="https://dl.dropboxusercontent.com/u/16436695/NickChiang_UXDesigner_Resume.pdf">Resume</a> /
<a href="mailto:nick.chiang@gmail.com">Email</a> /
<a href="https://www.linkedin.com/in/nickchiang">LinkedIn</a> /
<a href="https://www.pinterest.com/icefenix/">Pinterest</a> /
<a href="https://github.com/nichiang">GitHub</a>