<h2>{{projectCtrl.currentProject.title}}</h2>

<ul class="skills-ul">
  <li class="skills-li" ng-show="projectCtrl.hasRoles();">Role: {{projectCtrl.currentProject.roles | arrayString}}</li>
  <li class="skills-li" ng-show="projectCtrl.hasSkills();">Skills: {{projectCtrl.currentProject.skills | arrayString}}</li>
</ul>

<p ng-repeat="desc in projectCtrl.currentProject.description" ng-bind-html="desc"></p>

<div class="row">
  <div class="col-xs-12 col-sm-6" ng-show="projectCtrl.hasIssues();">
    <h3>Restrictions and Issues</h3>

    <ul class="desc-ul">
      <li class="desc-li" ng-repeat="issue in projectCtrl.currentProject.issues">{{issue}}</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6" ng-show="projectCtrl.hasApproach();">
    <h3>Approach and Solution</h3>

    <ul class="desc-ul">
      <li class="desc-li" ng-repeat="solution in projectCtrl.currentProject.approach">{{solution}}</li>
    </ul>
  </div>
</div>
<div class="row" ng-show="projectCtrl.hasImages();">
  <div class="col-sm-12 col-md-6" ng-repeat-start="imageCaption in projectCtrl.currentProject.imageCaptions" style="padding: 10px;">
    <a ng-click="projectCtrl.toggleGallery($index)">
      <img ng-src="images/{{projectCtrl.currentPath}}/image{{$index}}.jpg" style="width: 100%; border: 1px solid #333" />
    </a>
    <p class="caption">{{imageCaption}}</p>
  </div>
  <div ng-show="projectCtrl.showImage[$index]" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: black; overflow: auto; text-align: center; z-index: 100;">
    <a ng-click="projectCtrl.closeGallery()">
      <i class="ion-ios7-close-outline" style="position: absolute; top: 0px; right: 0px; font-size: xx-large; margin: 5px;"></i>
    </a>
    <img ng-src="images/{{projectCtrl.currentPath}}/image{{$index}}.jpg" style="margin: 20px;" />
  </div>
  <div ng-repeat-end class="clearfix" ng-if="$odd"></div>
</div>
<div class="row" ng-show="projectCtrl.hasEmbeds();">
  <div ng-repeat="embedCaption in projectCtrl.currentProject.embedCaptions" style="padding: 10px;">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" ng-src="{{projectCtrl.currentProject.embedLinks[0]}}" width="100%"></iframe>
    </div>
    <p class="caption">{{embedCaption}}</p>
  </div>
</div>